.login-content {
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.input-container {
    margin-top: 1em;
    color: black;
    border-radius: 0.4em;
}

.login-form {
    width: 50%;
}


//Media
@media screen and (max-width:740px) {
    .login-content {
        display: none;
    }
    .login-form {
        width: 100%;
    }
    .wrapper {
     background-color: #0756a5e0;
   }
}