<form class="form">
    <div class='input-form-container'>
        <label htmlFor="email" class="label-text">
            <input name="email" type="email" class="input-form" required autoComplete="email" />
            <span class="content-wrap">
                <span class="text-wrap">
                    <!-- <img class="image-email image" src={mailIcon} alt="img-email"/> -->
                    e-mail </span>
            </span>
        </label>
    </div>

    <div class='input-form-container'>
        <label htmlFor="password" class="label-text">
            <input name="password" type="password" class="input-form" required />
            <span class="content-wrap">
                <span class="text-wrap">
                    <!-- <img class="image-email image" src={passwordIcon} alt="img-email"/> -->
                    Contraseña</span>
            </span>
        </label>
    </div>

    <div class='input-form-container'>
        <button class="button-form">Iniciar sesión </button>
        <hr class="line-finish" />
    </div>

    <div class='form-group right'>
    </div>
</form>