<div class="title-content">
<p className="subtitle">Optimiza y gestiona oportunidades
    <br /> para ir <strong>un paso adelante</strong></p>
    </div>
<form class="form" (ngSubmit)="loginApp()">
    <ion-item class="item">
        <ion-label color="primary" position="fixed">Usuario</ion-label>
        <ion-input type="text"  [(ngModel)]="user.userName" name="user.userName" ></ion-input>
    </ion-item>
    <ion-item class="item">
        <ion-label color="primary" position="fixed">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="user.password" name="user.password"></ion-input>
    </ion-item>

    <div class='input-form-container'>
        <button ion-button type="submit" class="button-form">Iniciar sesión </button>
        <hr class="line-finish" />
    </div>
</form>