<ion-content>
  <h1 class="init-text">- Inicio -</h1>
  <div class="father-card">
    
    <ion-card class="catalogue-image content" >
        <ion-tab-button tab="catalogo">
      <ion-card-header>
        <ion-card-title class="text titile">Nuestro catálogo </ion-card-title>
      </ion-card-header>
   </ion-tab-button>
    </ion-card>

    <ion-card class="build-image content">
        <ion-tab-button tab="catalogo">
      <ion-card-header>
        <ion-card-title class="text titile"> tu carrito de compra</ion-card-title>
      </ion-card-header>
      </ion-tab-button>
    </ion-card>

  </div>
</ion-content>