<ion-content>
  <h1 class="init-text">- Catálogo -</h1>
  <ion-searchbar class="search-bar" placeholder="Buscar producto (Nombre,categoria,precio,presentación)" [(ngModel)]="searchTerm"
    showCancelButton="true" animated="true" (ionChange)="filterItems()"></ion-searchbar>
  <div class="content-catalogue">
    <ion-card class="card" *ngFor="let catalogue of catalogueList">
      <ion-card-header>
        <img src={{catalogue.imagen}} />
        <ion-card-subtitle class="title">{{catalogue.nombre}}</ion-card-subtitle>
        <ion-card-title class="title">{{catalogue.nombre}}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p><strong>Categoria:</strong> {{catalogue.categoria}}</p>
        <p><strong>Precio:</strong> ${{catalogue.precio}}</p>
        <p><strong>Presentación:</strong> {{catalogue.presentacion}}</p>
        <p><strong>Cantidad:</strong> {{catalogue.cantidad}}</p>
        <ion-item *ngIf="catalogue.cantidad !== 0">
          <ion-range min="1" max="{{catalogue.cantidad}}" pin="true" value="1" [(ngModel)]="catalogue.valueRange" color="secondary">
            <ion-label slot="start">1</ion-label>
            <ion-label slot="end">{{catalogue.cantidad}}</ion-label>
          </ion-range>
        </ion-item>
        <button *ngIf="catalogue.cantidad !== 0" class="button" (click)="addVal(catalogue, catalogue.valueRange)">
          Agregar al carrito
          <div class="button__horizontal"></div>
          <div class="button__vertical"></div>
        </button>

        <ion-item *ngIf="catalogue.cantidad === 0">
          <p>Producto agotado</p>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>