// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

$buttonAlertColor: #488aff;

//LOADING GENERIC 
.loading-generic {
    $circleMedium: 100%;
    background-size: cover;

    // Spinner circle
    .spinner {
        width: $circleMedium;
        height: $circleMedium;
    }

    circle {
        stroke: $buttonAlertColor !important;
    }


    .loading-content {
        font-size: 1.8em;
        text-align: justify;
        color: #fff !important;
    }
    .spinner-dots{
        width: 100%;
    }
    .loading-wrapper {
        display: flex;
        flex-direction: column;
        padding: 0 !important;
        background-color: transparent !important;
}
    .loading-spinner {
        width: 100%;
        height: 100%;
    }

    ion-backdrop {
        opacity: .7 !important;
    }
}