<ion-content padding>
  <h1 class="init-text">- Carrito de compra -</h1>

  <ion-list>
      <ion-list-header>
          <ion-label class="init-text">Lista de productos en carrito de compra</ion-label>
        </ion-list-header>
    <ion-item>
        <ion-avatar item-left class="avatar">
            <img src="../../assets/img/agua.jpeg">
          </ion-avatar>
          <h2>Producto</h2>
          <p class="text">Cantidad: $23123213, Total: $4234234</p>
    </ion-item>
    <ion-item>
        <ion-avatar item-left class="avatar">
            <img src="../../assets/img/agua.jpeg">
          </ion-avatar>
          <h2>Producto</h2>
          <p class="text">Cantidad: $23123213, Total: $4234234</p>
    </ion-item>
    <ion-item>
        <ion-avatar item-left class="avatar">
            <img src="../../assets/img/agua.jpeg">
          </ion-avatar>
          <h2>Producto</h2>
          <p class="text">Cantidad: $23123213, Total: $4234234</p>
    </ion-item>
  </ion-list>
</ion-content>
