
.list-md {
    width: 60%;
    margin: 2% 20%;
}

.init-text {
    margin: 0 0 2%;
}
.second-text{
    font-size: 2.5em !important;
}

.avatar {
    width: 6%;
    height: 100%;
    margin: 3%;
}

.text {
    margin: auto;
}

.title {
    margin: 4% 0;
    font-size: 1.2em;
    width: 28%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.title:hover {
    width: auto;
    white-space: initial;
    overflow: visible;
    cursor: pointer;
}
.cancel-button{
    height: 57%;
    font-size: 1em;
}
.button,.button-clip {
    background-color: #e4214c;
    color: white;
    width: 55%;
    font-size: 1.2em;
    height: 80%;
    margin: auto;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    transition: 0.3s color linear, 0.3s background linear, 0.3s border linear;
    line-height: 16px;
}

.button:hover,
.button:global(.active) {
    background-color: #e21c487a;
    border: 1px solid #e21c487a;
    color: white;
}

.text-dont-product{
    color: #00000057;
    margin: auto;
}
.button-clip{
    height: 50px;
}

//Media
@media screen and (max-width:740px) {
.init-text{
    font-size: 2em;
}
.hydrated{
    display: flex;
    flex-flow: wrap-reverse;
}
.second-text{
    font-size: 1.4em;
}
.button-clip{
    width: 100%;
}
.list{
    width: 100%;
    margin:2% 0; 
}
.text{
    display: none;
}
.cancel-button{
    height: 77%;
}
	}